.mapimg{
    height: 200px;
    width: 100%;
}
#detailsexam{
    background-image: url(../../image/pexels-aaditya-arora-592753.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
#detailsexam .backwhite{
    background-color: white;
    margin-top: 161px;
    height: 200px;
    background: rgba(241, 232, 232, 0.7);
}

#detailsexam  .h1{
    padding: 40px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;

}
.bg{
    background-color: #ccc;
}

.table{
    tbody{
        border: none;
        tr{
            border: none;
            th{ 
                    border: none;
                  color: black; 
                  .det-country{
                    text-decoration: none;
                    padding: 5px 40px;
                    font-size: 20px; 
                    letter-spacing: 2px;  
                    color: black; 
                    &:hover{
                        background-color: green;
                        color: white;
                        transition: 0.4s;
                    }
                }
            }

           
        }
    }
}
